body {
    background-color: black;
    box-sizing: border-box;
}
div  {
    border: 2px solid #fffefe;

}

.alphabet-container{
    padding: 10px 20px;
    position: relative;
    height: 300px;
    width: 475px;
}

.man-container{
    padding: 10px 20px;
    position: relative;
    height: 300px;
    width: 475px;

}

